:root{
  font-family: Helvetica;
  --smooth-gray: #fafafa;
  --primary-blue: #385185;
  --second-blue: #4A95F6;
  --border-color: #DBDBDB;
}

a{
    text-decoration: none;
}
    
html{
    width: 100vw;
}

body{ 
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--smooth-gray);
}

/* main container */

#main-container{
    display: flex;
}

/* side banner */

#form-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#form-box{
    padding: 1.8rem 3rem 1rem;
    background-color: white;
    width: 270px;
    text-align: center;
    border: 1px solid var(--border-color);
}

#form-container img{
    width: 170px;
}

#login-form input:not([type="submit"]){
    display: block;
    width: 100%;
    padding: .7rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

#login-form input[type="text"]{
    margin-top: 2rem;
    margin-bottom: .3rem;
}

#login-form input[type="password"]{
    margin-bottom: 1rem;
}

#login-form input[type="submit"]{
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    border: none;
    background-color: #B2DFFC;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.separator{
    margin-top: 1rem;
}

.line{
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.separator span{
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 20px;
    color: #ccc;
    background-color: white;
    padding: 10px;
    transform: translateY(-17px);
}

#facebook-login a{
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;
}

#facebook-login img{
    width: 15px;
}

#forgot-pass{
    text-decoration: none;
    font-size: .8rem;
    margin-top: 1.5rem;
}

#forgot-pass a{
    text-decoration: none;
}

#facebook-login span{
    margin-left: .1rem;
}

/* register container */

#register-container{
    background-color: white;
    margin: .5rem 0;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: .9rem;
}

#register-container a{
    text-decoration: none;
    font-weight: bold;
    color: var(--second-blue);
}

/* get-app-container */
#get-app-container {
    text-align: center;
}

#get-app-container p{
    margin: 1rem 0;
    font-size: .8rem;
}

#get-app-container img{
    width: 136px;
}

/* footer */

#footer-links{
    display: flex;
    margin-bottom: .5rem;
    gap: 1rem;
}

#footer-links a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-blue);
    font-size: .8rem;
    text-transform: uppercase;
}

#copyright{
    color: var(--border-color);
}

/* mobile */

@media screen and (max-width: 450px){
    html, body{
        background-color: white;
        margin: 0;
    }

    #banner-container{
        display: none;
    }

    #form-box{
        border: none;
        padding-top: 0;
    }

    footer{
        font-size: .9rem;
        font-family: serif;
    }

    #register-container{
        border: none;
    }

    #footer-links{
        flex-wrap: wrap;
        justify-content: center;
        margin: 3rem auto 1rem;
        width: 80%;
    }

    #copyright{
        text-align: center;
        color: rgb(150, 150, 150);
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: .7rem;
    }
}