/* geral */

html {
	font-family: 'Open sans', 'sans-serif';
	color: #373A3C;
	width: 100vw;
	height: 100%;
}

#sidebar{
	position: fixed;
	width: 300px;
	background-color: #006599;
	height: 100vh;
	z-index: 1;
}

#sidebar *{
	color: white;
}

.sidebar-container{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
}

.sidebar-container img{
	height: 60px;
	width: 60px;
}

.sidebar-container h1{
	font-size: 2rem;
}

.sidebar-container li{
	padding: 23px;
}

.sidebar-container a{
	text-decoration: none;
}

.content{
	position: absolute;
	left: 300px;
	width: calc(100% - 300px);
}

.banner{
	background-image: url("../img/banner2.jpg");
	height: calc(100vh - 150px);
	background-size: cover;
}

.sessao-bemvindo-content{
	padding: 75px 48px;
	position: relative;
}

.sessao-minibanner{
	background-image: url("../img/banner3.jpg");
	height: 350px;
	width: 26%;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.content h1{
	font-size: 36px;
	width: 100%;
	color: #006599;
	padding-bottom: 32px;
}

.sessao-descricao{
	margin-left: 300px;
}

.sessao-descricao p{
	margin-bottom: 16px;
	line-height: 2rem;
}

.sessao-descricao a,
#sessao-contato button{
	border: none;
	margin-top: 1rem;
	text-decoration: none;
	background-color: #006599;
	padding: 1rem 2.5rem;
	display: inline-block;
	color: white;
	width: fit-content;
}

#sessao-contato{
	padding: 0 48px;
}

#sessao-contato form{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
}

#sessao-contato form > *::placeholder{
	color: color-mix(in srgb,  #006599, transparent 30%);
}

#sessao-contato form > *:not(button){
	border: 1px solid #006599;
	padding: 1rem .5rem;
}

#sessao-contato textarea{
	resize: none;
}