body, html{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #95a5a6;
    margin: auto;
    width: 100vw;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%; 
}

h1{
    text-align: center;
    margin-top: 0;
}

legend{
    text-align: center;
    font-weight: bold;
    color: #454e4f;
    font-size: 1.2em;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
}

form{
    background-color: #ecf0f1;
    box-shadow: 3px 3px 10px #333;
    padding: 2rem 1rem;
    border-radius: .3rem;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

input{
    padding: .8rem;
    margin: .3rem  0 1rem 0;
    border-radius: .2rem;
    border: 1px solid #bbb;
    font-size: 1rem;
}

.submit{
    background-color: inherit;
    font-weight: normal;
    flex: 1;
}

.submit:hover{
    background-color: #cacaca;
    cursor: pointer;
}

.actions{
    display: flex;
    gap: 1rem;
    justify-content: center;
}