@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Maven+Pro:wght@600&family=Roboto:wght@300;700&display=swap');

:root{
    font-family: 'Maven Pro', sans-serif;
    --min-height: 15vh;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: 100vw;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: #2a2a2a;
    justify-content: space-between;
    align-items: center;
    height: var(--min-height);
    padding: 0 6rem;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    text-transform: uppercase;
}

li{
    border: .1rem solid #FED001;
    border-radius: .3rem;
}

header a{
    font-weight: bold;
    display: inline-block;
    padding: .6rem;
    text-decoration: none;
    color: #FED001;
}

header a:hover{
    color: white;
    background-color: #FED001;
    padding: .6rem;
}

header img{
    margin-bottom: 1.5rem;
}

.hero{
    background: linear-gradient(white, #ffff38);
    margin: 0;
    display: flex;
    color: #555;
    padding:  4%;
    gap: 1rem;
    height: calc(100vh - var(--min-height) - 15vh);
}

.hero h1{
    font-size: 3.8rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.hero a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    padding: 1rem 1.5rem;
    background-color: #FED001;
    border-radius: .3rem;
    font-weight: bold;
}

.hero a:hover{
    color: white;
}

.hero span{
    text-transform: uppercase;
}

.hero div{
    align-self: center;
}

.top{
    text-align: center;
}

.top h2{
    text-transform: capitalize;
    color: #555;
    margin: 4rem 0;
}

.top__div{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 1rem;
    text-align: left;
}

.top p{
    color: #555;
}

.top a{
    text-decoration: none;
    color: #555;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #FED001;
    border-radius: 0.2rem;
    font-weight: bold;
    margin: 10% 0;
}

.center{
    display: flex;
    background-color: #003464;
    color: white;
    padding: 5% 6% 0;
    gap: 4rem;
    text-align: left;
}

.center__div h2{
    margin-bottom: 4rem;
}


.bottom{
    text-align: center;
    color: #555;
    margin: 0 3vw 2vh;
}

.bottom address{
    text-align: right;
}

.bottom img{
    width: 100%;
    height: auto;
}

footer{
    background-color: #555;
    color: white ;
    text-align: center;
    padding: 1rem;
}