p::before{
    content: " ANTES ";
}

p::after{
    content: " DEPOIS ";
}

div{
    border: 3px solid red;
    padding: 1em;
    position: absolute;
}

p{
    margin: 0;
}

div::after{
    content: "";
    width: 1em;
    height: 1em;
    background-color: red;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

div::before{
    content: url(https://via.placeholder.com/64/00ffff/ffffff);
    float: left;
    margin-right: 1em;
}