html,body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;

    background: radial-gradient(ellipse at 0 0,#fff8ce, #ffb61d);
}

main{
    display: flex;
}

#wrapper{
    padding: 2rem 2rem 0;
}

h1{
    font-size: 4rem;
}

form input{
    padding: 1rem;
    border: 2px solid rgba(0 0 0 / .5);
    border-radius: 10px;
}

form input[type="text"]{
    background-color: inherit;
}

form input[type="submit"]{
    background-color: #031d44;
    color: white;
}

p{
    font-size: 1.5rem;
}

strong{
    font-weight: bold;
    text-transform: uppercase;
    color: brown;
}

.animation{
    position: inherit;
    z-index: 1;
}

.animation img:nth-child(1){
    position: absolute;
    top: 15rem;
    left: 45rem;
    z-index: -1;
    animation: floating 1s infinite alternate-reverse;
}

.animation img:nth-child(2){
    position: absolute;
    top: 5rem;
    right: 3rem;
    z-index: -1;
    animation: floating 3s infinite alternate-reverse;
}

.animation img:nth-child(3){
    animation: floating 2s infinite alternate-reverse;
}

.animation img:nth-child(4){
    position: absolute;
    bottom: 1rem;
    left: 48rem;
    animation: floating 2s infinite alternate;
}

.animation img:nth-child(5){
    position: absolute;
    top: 1rem;
    left: 51rem;
    animation: floating 2.5s infinite alternate;
}

.animation img:nth-child(6){
    position: absolute;
    top: 23rem;
    right: 1rem;
    animation: floating 1.8s infinite alternate;
}

@keyframes floating{
    from{
        transform: translate(0, 0);
    }

    to{
        transform: translate(3px,20px);
    }
}